:root {
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --white: #ffffff;
  --cornflower: #e7e9fc;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --green: #31d0aa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

.button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

.list {
  list-style: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-bottom: 120px;
  padding-top: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------------------- Header --------------------------*/

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-span {
  color: var(--navy-blue);
}

.header-nav-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

/* .header-nav-items {
} */

.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.header-contact {
  font-style: normal;
}

.header-contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* .header-contact-item {
} */

.header-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/*-------------------------- Hero image --------------------------*/

.hero {
  max-width: 1440px;
  text-align: center;
  background-color: var(--navy-blue);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/portfolio/);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 188px 0;
  margin: auto;
}

/* .hero-container {

} */

.hero-title {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  margin: auto;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  width: 169px;
  height: 56px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 48px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

.hero-button:focus,
.hero-button:hover {
  background-color: var(--ocean);
}

/*-------------------------- Technology list --------------------------*/

/* .technology {
} */

/* .technology-title{
 } */

.technology-block-icon {
  height: 112px;
  background-color: var(--cloud);
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

/* .technology-icon {
} */

.technology-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.technology-list-items {
  width: calc((100% - 72px) / 4);
}

.technology-items-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.technology-items-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/*-------------------------- Product list ---------------------------*/

.product {
  padding-top: 0;
}

.product-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.product-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* .product-list-items {
} */

/* .product-images {
} */

/*-------------------------- Team --------------------------*/

.team {
  background: var(--cloud);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-items {
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  padding-bottom: 32px;
}

.team-item-photo {
  width: 264px;
  height: 260px;
  margin-bottom: 32px;
}

/* .team-item-wrap {
} */

.team-person-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.team-person-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--ocean);
}

.team-soc-icon {
  fill: var(--cloud);
}

/*-------------------------- Customers --------------------------*/

/* .customers {
} */

.customers-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  justify-content: center;
  margin: auto;
  width: calc((100% - 120px) / 6);
  gap: 24px;
}

.customers-item {
  min-width: 168px;
  min-height: 88px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
}

.customers-icon {
  fill: currentColor;
}

.customers-item:hover,
.customers-item:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}

/*-------------------------- Footer --------------------------*/

.footer {
  background: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-transform: uppercase;
}

.footer-span {
  color: var(--cloud);
}

.footer-content {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  margin-top: 16px;
}

.footer-wrap {
  margin-left: 120px;
}

.footer-wrap-name {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--slate);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--green);
}

.footer-soc-icon {
  fill: var(--cloud);
}

/*-------------------------- Portfolio page --------------------------*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.buttons-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.buttons-list-name:hover,
.buttons-list-name:focus {
  color: var(--white);
  background: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.buttons-list-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris);
  background: var(--cloud);
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
}

/*-------------------------- Works list --------------------------*/

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.works-list li {
  width: calc((100% - 48px) / 3);
}

.works-items {
  max-width: 360px;
}

.works-link {
  display: block;
}

.works-link:hover,
.works-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.works-content-text {
  border: 1px solid var(--cornflower);
  border-top: none;
  padding: 32px 0 32px 16px;
}

/* .works-images {
} */

.works-image-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.works-image-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}